<h1> The best gifts are thoughtful gifts. </h1>

</br>

<h4> Inside Gifts is a curated gift guide for the wonderful women in your life. </h4>

</br>

<h4> We only feature products for Amazon. </h4>

</br>

<h4> The best way to find gifts that are both beautiful and functional. </h4>


<style>
.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;   
}
</style>