<h1> Found something that we missed? </h1>

<h2> Email hello@insidegift.com and we will look into it right away and let you know if it's added! </h2>



<style>
.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:100px;   
}
</style>