/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require fancybox
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$navbar-hover: #34495e;
$navbar-bg: #556270;
$navbar-text: #F0F0E6;
$default-bg: #F0F0E6;

body {
  background-color: $default-bg;
  font-family: 'Open Sans', sans-serif;
  margin-right: auto !important;
}

.share-buttons{
  list-style: none;
}

.share-buttons li{
  display: inline;
}


* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

#sorry {
  margin-top: 4%;
}

/* NAVBAR */

.navbar, .navbar-default {
  background-color: $navbar-bg;  
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -webkit-text-shadow: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  border:none !important;
  margin-bottom: 0px !important;

}

.nav {
  text-align: center;
}

.navbar-default .navbar-brand {
  font-weight: bold;
  font-size: 200%;
  color: $navbar-text;
  font-family: 'Volkhov', sans-serif;
}

.navbar-default .navbar-brand:hover{
    color: #e2e1cc;
}

.navbar-default .navbar-header .navbar-toggle .collapsed {
  border-color: #FCFBE3;
}

.navbar-default .plz {
    text-align: center;
}

.navbar-default li {
    display: inline-block;
}


.navbar-default .navbar-nav li a {
  color: $navbar-text;
  font-family: 'PT Sans', sans-serif;
}

.navbar-default .navbar-nav li:hover {
    background-color: $navbar-hover;
}

.navbar-default .navbar-nav li a:hover {
    background-color: $navbar-hover;
    color: $navbar-text;

}

.navbar-default .navbar-nav .open {
    bottom-border-style: none;
}

.navbar-default .navbar-nav .open a {
    color: $navbar-text !important;
    background-color: $navbar-hover !important;
}

.navbar-default .navbar-nav li .dropdown-menu {
    background-color: $navbar-hover;
}


.navbar-default .navbar-nav ul{
    border-top-style: none !important;
    border-right-style: none !important;
    border-left-style: none !important;
    border-bottom-style: none !important;
      text-shadow: none !important;
  box-shadow: none !important;
  border:none !important;
}

.navbar-default .navbar-nav li .dropdown-menu a{
    background-color: $navbar-hover;
    color: $navbar-text;
}

.navbar-default .navbar-nav li .dropdown-menu li{
    width: 100% !important;
}

.navbar-default .navbar-nav li .dropdown-menu li a:hover, .navbar-default .navbar-nav li .dropdown-menu li{
    background-color: $navbar-bg !important;
    color: $navbar-text;
}



.expo {
    color: #000000;
    text-decoration: underline;
}

.expo a:hover{
    background-color: #4bd686 !important;
}

#nomargin{
  margin-top: 15px;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}


.looker {
  max-height: 30px !important;
  max-width: 40px !important;

}

#search {
    margin-top: 2%;
}

.mag_glass {
  padding-bottom: 250% !important;
  text-align: center !important;
}

/* Title */

.headline {
  background-color: #ADD8C7;
  text-align: center;
  border: none;
  color: $navbar-bg;
}


.page_name h3 {
  margin-bottom: 4%;
}

/* FILTERS */
/* real filters */

.filter_row {
  margin-top: 1%;
  margin-bottom: 1%;
}

.feature_filters {
    margin-top: 0%;
  margin-bottom: 0%;
}

.filterz {
  text-align: right;
}

.dropdown-menu {
  
}

#carrot{
  margin-left: 60%;
}

/* Fancybox */

#body2 {
  background-color: transparent !important;
}

.container {

  width: 100%;
  height:100%;
}

.blackbar {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  height: 100%;
}

.popup {
  background-color: white;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  height: 310px;
}

.popup2 {
  background-color: #F0F0E6;
}

.popup a img{
  vertical-align: middle; 
  max-height: 220px;
  max-width: 280px;
     margin: auto;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}




.info h3{
  margin-top: 10%;  
  margin-left: 10%;
}

.fb {
    margin-left: 4%;
}



#fancybox_out {
  margin-left: 10%;
  margin-top: 8%;
  border-style: none;
}

#fancybox-outer{
    background:transparent;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 0 0;
       -moz-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
}

.popular {
  margin-left: 2%;
  font-size: 125%;
  margin-bottom: 2%;
  margin-top: 0%;
}


/* Items */

.titlers {
  font-size: 130%;
  margin-left: .2%;
}

.featured {
  margin-bottom: 0%; 
}

.boxer {
  height: 250px;
    margin-bottom: 8%;
}

.boxer2 {
  height: 175px;
    margin-bottom: 8%;
}

.box {
  background-color: white;
  height: 100%;
  line-height: 100%;
  text-align: center;
  padding-top: 17%;
  padding-bottom: 17%;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: .2s all;
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
    vertical-align: middle;
}


.box img {
  vertical-align: middle;
  max-height: 180px;
  max-width: 40% !important;
  z-index: 0;
    position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* pop-up box */

.box2 {
  background-color: white;
  height: 100%;
  line-height: 100%;
  text-align: center;
  padding-top: 17%;
  padding-bottom: 17%;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: .2s all;
  display: inline-block;
  position: relative;
  width: 100%;
  overflow: hidden;
    vertical-align: middle;
}

.box2 img {
  vertical-align: middle;
  max-height: 120px;
  max-width: 75% !important;
  z-index: 0;
    position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.box h4 {
  margin-left: 4%;
  margin-top: 4%;
  margin-right: 2%;
  font-weight: 600;
}

.bills {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin-top: 4%;
    margin-left: 4%;
    z-index: 5 !important;
}

.caption {
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    width: 100%;   
    position: relative; 
}

.info {
  background-color: white;
  height: 100% !important;
  padding-bottom: 500px;
  margin-bottom: -500px;
}



#popup-row {
  overflow: hidden;
}

.pseudo {
  content : "";
  margin-left    : 3%;
  bottom  : 0;
  height  : 1px; 
  width: 94%;
  border-top-width:1px;
  border-top-style: solid;
  border-top-color: black;
}

#desc a {
  color: #333333 !important;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  text-align: left; 
    overflow: hidden;
}


span.text-content span {
  text-align: left;
  vertical-align: middle; 
  white-space: normal;
  text-overflow: ellipsis;
  width: 100% !important;
  position: relative;
  z-index: 100;

}


.box:hover span.text-content {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.box:hover img{
  z-index: 0;
}

#fancybox-outer{
    background:transparent !important;
}



/* PAGINATION */


#flickr_pagination {
  text-align: center !important;
  padding: 0.3em !important;
  cursor: default !important; }

  #flickr_pagination a, #flickr_pagination span, #flickr_pagination em {
    padding: 0.2em 0.5em !important; }

  #flickr_pagination .disabled {
    color: #aaaaaa !important; }

  #flickr_pagination .current {
    font-style: normal !important;
    font-weight: bold !important;
    color: $navbar-hover !important; }



  #flickr_pagination a {
    border: 1px solid #dddddd !important;
    color: $navbar-bg !important;
    text-decoration: none !important; }
    #flickr_pagination a:hover, #flickr_pagination a:focus {
      border-color: #003366 !important;
      background: $navbar-bg !important;
      color: white !important; }

  #flickr_pagination .page_info {
    color: #aaaaaa !important;
    padding-top: 0.8em !important; }

  #flickr_pagination .previous_page, #flickr_pagination .next_page {
    border-width: 2px !important; }

  #flickr_pagination .previous_page {
    margin-right: 1em !important; }

  #flickr_pagination .next_page {
    margin-left: 1em !important; }

/* Footer */

.footer {
  padding-top: 3%;
  padding-bottom: 10%;
  background-color: $navbar-bg;
  color: $navbar-text;
}

.footer p {
  padding-left: 5%;
}

#boom2 {
  min-height: 580px;
}

.about-contact a{
  color: $navbar-text;
}

.f-newsletter {
  padding-left: 16%;
}

#email {
  margin-left: 5% !important;
}

#email {
  color: #000000;
}


/* MOBILE */

@media only screen and (max-width : 768px) {    

  .f-newsletter {
            display: none;
  }

  #search {
    margin-left: 12%;
  }

  .dropdown-toggle {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 5px !important;
    padding-top: 0px !important;
    min-width: 100px;
  }




  #flickr_pagination a{
        display: none;
  }

  .current {
  display: none;
  }

    .gap {
  display: none;
  }

  .next_page, .previous_page {
        display: inline !important;
  } 

  .pagination:active, .pagination:prev, .pagination:next {
    display: inline;

  }

  .box {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 0px;
    padding-right: 0px;
  }

  #body2 {
    width: 260px !important;
    margin-right: 0px !important;
  }

  .caption {
    margin-left: 1%;
    margin-right: 0%;
    background-color: white;
    width: 98%;    
}

  .box img {
  vertical-align: middle;
  max-height: 100%;
  max-width: 64%;
  } 

  .navbar-default .navbar-brand {
    font-size: 175%;
    vertical-align: middle;
    padding-bottom: 0% !important;
    margin-bottom: -10px !important;
  }

  .navbar-nav {
    padding-left: 5%;
    margin-top: 0px;
    margin-bottom: 0% !important;

  }

  .share-buttons {
    padding-left: 0px !important;
  }

  .fb {
    margin-left: 8% !important;
  }

  .navbar-default .navbar-nav li a {
    vertical-align: top;
  }

  .navbar-default .navbar-header {
    padding-bottom: 0px;
  }


  .filters .right-side{
    padding-top: 2%;
    border-top: thin solid #e7e7e7;
  }

  .filters .left-side{
      padding-bottom: 2%;
  }

  .navbar-form {
    border-bottom-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }


  .info h3{
  font-size: 90% !important;
  }

  .popup {

  height: 210px;
  }

  .popup a img{
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;

  max-width: 64%;
  margin-top: 15%;
  max-height: 200px;
  } 

  #carrot{
  margin-left: 10%;
}

.filterz {
  width: 50%;
  text-align: left;
  margin-bottom: 2%;
}

h1 {
  font-size: 150% !important;
}



}

/* DESKTOP */

@media only screen and (min-width : 768px) and (orientation : landscape) {    
  .box {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
  }


  .navbar-nav {
    padding-left: 20px;
  }

  .filters .right-side{
    text-align: right;
  }

  .ellipsis p{  
  width: 330px;
  }

}

